{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block head %}
    {{ parent() }}
    <!-- Ajoutez le CDN de Tailwind CSS -->
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
    <h1 class="text-3xl  font-bold underline mb-6">Posts</h1>
<form method="get" class="my-4">
    <label for="category" class="mr-2 font-semibold">Category:</label>
    <select id="category" name="category" class="p-2 border rounded">
        <option value="" class="text-gray-600">Toutes les catégories</option>
        {% for category in categories %}
            <option value="{{ category.id }}" class="text-gray-800">{{ category.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="ml-2 p-2 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-300">Filtrer</button>
</form>

    {% for post in posts %}
        <div class="mb-6 p-4 border rounded shadow-lg text-center">
            <h2 class="text-xl font-semibold mb-2">Titre: </h2>
            <div class="mb-3">{{ post.title }}</div>

            <h2 class="text-xl font-semibold mb-2">Content: </h2>
            <div>{{ post.content }}</div>

            <div class="mt-6">
                <a href="{{ path('app_post_show', {'id': post.id}) }}" class="text-blue-500 hover:underline">Show</a>
           

            </div>
        </div>
    {% else %}
        <p class="text-gray-600">No records found</p>
    {% endfor %}
    
{% endblock %}
