{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
           
          
        </tbody>
        
    </table>

    <a href="{{ path('app_comment_new', {'postId': post.id}) }}">Add comment</a>

                    

    <a href="{{ path('app_post_index') }}">back to list</a>
    
      {% for comment in comments  %}
        <div>

            {{comment.user.email}} à dit : 
            
        </div>
        <div>

            {{comment.content}}
            
        </div>
       
        {% endfor %}


{% endblock %}
